* {
    font-size: 62.5px;
    font-family: 'JosefinSans';
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.navigation ul {
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    font-family: 'JosefinSans', sans-serif;
    font-size: 0.2rem;
    color: rgb(158, 158, 158);
    margin: 12px;
    cursor: pointer;
}

.navigation i {
    font-size: 0.2rem;
    cursor: pointer;
}

.navigation img {
    scale: 5%;
}